<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.termprojectmenu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="오늘뭐먹지?"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChoiceActivity1"></activity>
        <activity android:name=".ChoiceActivity2"></activity>
        <activity android:name=".RegionActivity"></activity>
        <activity android:name=".JbnuActivity"></activity>
        <activity android:name=".GaeksaActivity"></activity>
        <activity android:name=".SinsiActivity"></activity>
        <activity android:name=".EtcActivity"></activity>
        <activity android:name=".SelectedActivity"></activity>
    </application>

</manifest>